@model ProjetoLojaJogos.Models.Jogo
@{
    ViewBag.Title = "CadJogo";
}

<h2>Cadastro de Jogo feito com sucesso!</h2>
<br />
<p>@Html.ActionLink("Voltar", "Jogo")</p>
<p>@Html.ActionLink("Visualizar Jogo", "ListarJogo")</p>

