@model ProjetoLojaJogos.Models.Cliente
@{
    ViewBag.Title = "CadCli";
}

<h2>Cadastro de Cliente realizado com sucesso</h2>
<br />
<p>@Html.ActionLink("Voltar", "Cliente")</p>
<p>@Html.ActionLink("Visualizar Clientes", "ListarCliente")</p>