
@{
    ViewBag.Title = "CadFunc";
}

<h2>Cadastro de Funcionário realizado com sucesso!</h2>
<p>@Html.ActionLink("Voltar", "Funcionario")</p>
<p>@Html.ActionLink("Visualizar Funcionários", "ListarFuncionario")</p>